body {
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #0a0a0a;
    background-color: #f4f4f4;
}
.container {
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(186, 145, 145, 0.1);
}
h1,
h2 {
    color: #04172b;
}
.header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* border-radius: 50%;
    border: #04172b; */
    text-align: center;
}
.header h1 {
    margin: 10px 0;
}

img {
    margin-bottom: 1rem;
    border-radius: 50%;
    width: clamp(150px, 20vw, 200px);
    transition: width 0.3s ease;
}

.repoBox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    gap: 1rem;
}

.profileSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    /* flex-wrap: wrap; */
    
}

